certifi==2018.11.29
chardet==3.0.4
font-font-awesome==0.0.2
font-hanken-grotesk==0.0.2
font-source-sans-pro==0.0.1
idna==2.8
netifaces==0.10.9
olefile==0.46
pywemo==0.4.38
requests==2.21.0
six==1.12.0
urllib3==1.24.1
wheel==0.24.0
